.nav-link.active.show {
  background-color: transparent;
}
.nav-link.active {
  background-color: transparent;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  border-bottom: 4px solid blueviolet;
}
.sp {
  color: white;
  font-size: 50px;
  margin: 0px 0px 8px;
}
.tab-content {
  margin-top: 30px;
}
.card {
  background-color: #241942;
}
a {
  color: white;
}
.custom-margin {
  margin-left: 87px;
  margin-right: 87px;
  margin-top: 30px;
}
.gamename {
  color: white;
  font-weight: bold;
  font-size: 22px;
}
.gametype {
  color: white;
  font-size: 18px;
}
.description {
  color: white;
  font-weight: bold;
  font-size: 22px;
}
.upvotestext {
  margin-bottom: 0px;
}
.commentstext {
  margin-bottom: 0px;
  font-size: 18px;
}
.upvotesicon {
  margin-bottom: -8px;
  margin-top: -10px;
}
.btn-primary {
  background-color: blueviolet;
  border: 0px;
  border-radius: 0px;
}
.submit-button {
  float: right;
}
.third-level {
  position: relative;
}

.third-level li:last-child {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
.btn-long {
  width: 150px;
  margin-right: 13px;
}
.bg-footer {
  background-color: #241942;
}
.pipe-color {
  color: blueviolet;
}
.reserved {
  color: grey;
}
.card-body {
  padding-bottom: 0px;
}
.experience {
  margin-top: 20px;
  color: white;
}

.see-details {
  color: #ba32ff;
  margin-top: 20px;
}

label {
  color: #ffffff;
  font: normal normal normal 20px/26px Rajdhani;
  letter-spacing: 0px;
  opacity: 1;
}

.heading {
  color: #ffffff;

  text-align: left;
  font: normal normal normal 25px/30px Rajdhani;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: bold;
}
.bg-one {
  background-color: #16032a;
  border-radius: 10px;
}
.form-control {
  background-color: #241942;
  border: none;
}

.img-tick {
  border-radius: 50%;
  border: 2px solid;
  height: 150px;
  width: 150px;
}

.successful-message {
  font: normal normal normal 27px/37px Rajdhani;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-weight: bolder;
}
.text-below-image-tick {
  text-align: center;
  font: normal normal normal 24px/34px Open Sans;
  letter-spacing: 0px;
  color: #cdcbd0;
  opacity: 1;
  text-align: justify;
  text-justify: inter-word;
}
.custom-padding-modal {
  padding-top: 0px;
}
.btn-custom-primary {
  background-color: #ba32ff;
  color: white;
}
.custom-color {
  color: white;
}
.glassmorphism {
  backdrop-filter: blur(8px) saturate(122%);
  -webkit-backdrop-filter: blur(8px) saturate(122%);
  background-color: rgba(242, 242, 249, 0.11);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.btn-secondary {
  border-radius: 0px;
  background-color: white;
  color: #16032a;
  font-weight: bolder;
  font-size: 18px;
}
.btn-link {
  text-decoration: none;
  color: white;
}

/* Ribbon  */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 93px;
  height: 93px;
  text-align: right;
}
.ribbon span {
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
  transform: rotate(45deg);
  width: 125px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 17px;
  right: -29px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: -1;
  border-right: 3px solid #79a70a;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}

.red span {
  background: linear-gradient(#f70505 0%, #8f0808 100%);
}
.red span::before {
  border-left-color: #8f0808;
  border-top-color: #8f0808;
}
.red span::after {
  border-right-color: #8f0808;
  border-top-color: #8f0808;
}
