<link
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css"
  rel="stylesheet"
/>
<nav class="navbar navbar-dark bg-dark justify-content-between pb-0">
  <a class="navbar-brand"></a>
  <div class="pt-2">
    <p
      class="rounded-circle px-2 py-1 float-left font-weight-bold"
      style="background-color: grey"
    >
      {{
        username.trim().charAt(0) +
          username.charAt(username.lastIndexOf(" ") + 1)
      }}
    </p>
    <span class="px-2 float-right header-username">
      <ul class="nav nav-pills">
        <li class="dropdown">
          <a data-toggle="dropdown">{{ username }} </a>
          <ul class="dropdown-menu" id="menu1">
            <li><a>Edit Profile</a></li>
            <li>
              <a>Submenu</a>
              <ul class="dropdown-menu sub-menu">
                <li><a>Submenu Action</a></li>
                <li><a>Another Action</a></li>
              </ul>
            </li>

            <li><a>Logout</a></li>
          </ul>
        </li>
      </ul>
    </span>
  </div>
</nav>

<div>
  <h3 class="ml-4">Best Sellers in Guns and Bombs</h3>
  <div class="row mx-2">
    <div
      id="carouselExampleControls"
      class="carousel slide col-lg-12"
      data-ride="carousel"
      data-interval="false"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mx-2">
            <div class="col-lg-2" *ngFor="let i of countCard">
              <div class="card" *ngIf="i % 2 == 0">
                <div class="card-body">
                  <img
                    src="../../assets/ffgun-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
              <div class="card" *ngIf="i % 2 == 1">
                <div class="card-body">
                  <img
                    src="../../assets/ffbomb-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mx-2">
            <div class="col-lg-2" *ngFor="let i of countCard">
              <div class="card" *ngIf="i % 2 == 0">
                <div class="card-body">
                  <img
                    src="../../assets/ffgun-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
              <div class="card" *ngIf="i % 2 == 1">
                <div class="card-body">
                  <img
                    src="../../assets/ffbomb-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mx-2">
            <div class="col-lg-2" *ngFor="let i of countCard">
              <div class="card" *ngIf="i % 2 == 0">
                <div class="card-body">
                  <img
                    src="../../assets/ffgun-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
              <div class="card" *ngIf="i % 2 == 1">
                <div class="card-body">
                  <img
                    src="../../assets/ffbomb-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <h3 class="ml-4 mt-5">Guns</h3>

  <div class="row mx-2">
    <div
      id="carouselExampleControls2"
      class="carousel slide col-lg-12"
      data-ride="carousel"
      data-interval="false"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mx-2">
            <div class="col-lg-2" *ngFor="let i of countCard">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../assets/ffgun-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mx-2">
            <div class="col-lg-2" *ngFor="let i of countCard">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../assets/ffgun-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mx-2">
            <div class="col-lg-2" *ngFor="let i of countCard">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../assets/ffgun-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls2"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls2"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <h3 class="ml-4 mt-5">Bombs</h3>
  <div class="row mx-2">
    <div
      id="carouselExampleControls3"
      class="carousel slide col-lg-12"
      data-ride="carousel"
      data-interval="false"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mx-2">
            <div class="col-lg-2" *ngFor="let i of countCard">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../assets/ffbomb-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mx-2">
            <div class="col-lg-2" *ngFor="let i of countCard">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../assets/ffbomb-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mx-2">
            <div class="col-lg-2" *ngFor="let i of countCard">
              <div class="card">
                <div class="card-body">
                  <img
                    src="../../assets/ffbomb-removebg-preview.png"
                    alt=""
                    data-toggle="modal"
                    data-target="#exampleModal"
                  />
                  <h4 class="text-center">Free Fire Gun</h4>
                  <button class="btn btn-custom-primary btn-lg btn-block">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls3"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls3"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<br /><br />

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-one">
      <div class="modal-header" style="border-bottom: none">
        <button
          type="button"
          class="close close-btn"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="sp" aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <img src="../../assets/ffbomb-removebg-preview.png" alt="" />
          </div>
          <div class="col-lg-6">
            <h5>Bomb</h5>
            <p>Description</p>
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since
              the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not
              only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged.
            </p>
            <button class="btn btn-custom-primary btn-lg btn-block">
              Add to card
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-one">
      <div class="modal-header" style="border-bottom: none">
        <button
          type="button"
          class="close close-btn"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="sp" aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <img src="../../assets/ffgun-removebg-preview.png" alt="" />
          </div>
          <div class="col-lg-6">
            <h5>Gun</h5>
            <p>Description</p>
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since
              the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not
              only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged.
            </p>
            <button class="btn btn-custom-primary btn-lg btn-block">
              Add to card
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-one">
      <div class="mod">
        <div class="row">
          <div class="col-lg-11"></div>
          <div class="col-lg-1">
            <button
              type="button"
              class="close close-btn"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span class="sp" aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <img
              class="img-fluid image-see-details"
              src="../../assets/download.png"
              alt=""
            />
          </div>
          <div class="col-lg-3 ml-2">
            <div class="row">
              <p class="infosy"></p>
            </div>
            <div class="row">
              <p class="ye"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row mt-5">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-3">
                <p>
                  <i class="fa fa-briefcase ico"></i>
                </p>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-3">
                <p>
                  <i class="fa fa-briefcase ico"></i>
                </p>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-3">
                <p>
                  <i class="fa fa-briefcase ico"></i>
                </p>
              </div>
            </div>
            <hr style="background-color: white" />
            <div class="row">
              <div class="col-lg-12">
                <h6 style="font-weight: bold">Job Description</h6>
                <p style="text-align: justify; justify-content: inter-word"></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 sto">
            <p style="font-size: small">Share this opportunity</p>
            <i class="fab fa-instagram mr-3"></i>
            <i class="fab fa-facebook mr-3"></i>
            <i class="fab fa-twitter"></i>
            <button
              class="btn btn-custom-primary mt-3 appl"
              data-dismiss="modal"
            >
              APPLY NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
