<div class="container" style="color: white">
  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th></th>
        <th style="width: 30%" class="tableheading">
          Team Name
          <!-- Team Name or Player Name (gogame id) -->
        </th>
        <th class="tableheading">Message</th>
        <th style="width: 15%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="tableheading" scope="row">1</th>
        <td class="tableheading">Aditya</td>
        <td>
          <textarea
            class="form-control bg-2"
            id="message-text"
            placeholder="Message"
            rows="1;"
          ></textarea>
        </td>
        <td class="tableheading">
          <button type="button" class="shape">Send</button>
        </td>
      </tr>
      <tr>
        <th class="tableheading" scope="row">1</th>
        <td class="tableheading">Aditya</td>
        <td>
          <textarea
            class="form-control bg-2"
            id="message-text"
            placeholder="Message"
            rows="1;"
          ></textarea>
        </td>
        <td class="tableheading">
          <button type="button" class="shape">Send</button>
        </td>
      </tr>
      <tr>
        <th class="tableheading" scope="row">1</th>
        <td class="tableheading">Aditya</td>
        <td>
          <textarea
            class="form-control bg-2"
            id="message-text"
            placeholder="Message"
            rows="1;"
          ></textarea>
        </td>
        <td class="tableheading">
          <button type="button" class="shape">Send</button>
        </td>
      </tr>
      <tr>
        <th class="tableheading" scope="row">1</th>
        <td class="tableheading">Aditya</td>
        <td>
          <textarea
            class="form-control bg-2"
            id="message-text"
            placeholder="Message"
            rows="1;"
          ></textarea>
        </td>
        <td class="tableheading">
          <button type="button" class="shape">Send</button>
        </td>
      </tr>
      <tr>
        <th class="tableheading" scope="row">1</th>
        <td class="tableheading">Aditya</td>
        <td>
          <textarea
            class="form-control bg-2"
            id="message-text"
            placeholder="Message"
            rows="1;"
          ></textarea>
        </td>
        <td class="tableheading">
          <button type="button" class="shape">Send</button>
        </td>
      </tr>
      <tr>
        <th class="tableheading" scope="row">1</th>
        <td class="tableheading">Aditya</td>
        <td>
          <textarea
            class="form-control bg-2"
            id="message-text"
            placeholder="Message"
            rows="1;"
          ></textarea>
        </td>
        <td class="tableheading">
          <button type="button" class="shape">Send</button>
        </td>
      </tr>
      <tr>
        <th class="tableheading" scope="row">1</th>
        <td class="tableheading">Aditya</td>
        <td>
          <textarea
            class="form-control bg-2"
            id="message-text"
            placeholder="Message"
            rows="1;"
          ></textarea>
        </td>
        <td class="tableheading">
          <button type="button" class="shape">Send</button>
        </td>
      </tr>
      <!-- <tr>
                <th scope="row">2</th>
                <td>gogame79</td>
                <td>Headers</td>
                <td>Shot</td>
                <td>60</td>
                <td>30</td>
                <td>30</td>
                <td>187</td>
                <td>12</td>
              </tr> -->
    </tbody>
  </table>
</div>
