<div class="container mt-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link active shape mr-4"
        id="nav-home-tab"
        data-toggle="tab"
        href="#nav-home"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        >Player</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link shape mr-4"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#nav-profile"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        >Team</a
      >
    </li>
    <!-- <li class="nav-item">
        <div class="">
          <input
            type="search"
            class="form-control inputshape"
            placeholder="Type here to search"
          />
        </div>
      </li>
      <li class="nav-item">
        <button class="searchshape">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
      </li> -->

    <li class="nav-item">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control shapeinput"
          placeholder="Search"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button
            class="btn shapebutton"
            style="background-color: white"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </button>
        </div>
      </div>
    </li>
  </ul>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
      style="color: white"
    >
      <table
        style="text-align: center"
        class="table table-bordered mt-5 table-responsive-sm"
      >
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Player Name</th>
            <th scope="col">Team Name</th>
            <th scope="col">Main</th>
            <th scope="col">matches</th>
            <th scope="col">wins</th>
            <th scope="col">losses</th>
            <th scope="col">kills</th>
            <th scope="col">rank</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>xyz@gmail.com</td>
            <td>Hunt</td>
            <td>Fire</td>
            <td>30</td>
            <td>20</td>
            <td>10</td>
            <td>97</td>
            <td>9</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>gogame79</td>
            <td>Headers</td>
            <td>Shot</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>gogame79</td>
            <td>Headers</td>
            <td>Shot</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>gogame79</td>
            <td>Headers</td>
            <td>Shot</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>gogame79</td>
            <td>Headers</td>
            <td>Shot</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>gogame79</td>
            <td>Headers</td>
            <td>Shot</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>gogame79</td>
            <td>Headers</td>
            <td>Shot</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>gogame79</td>
            <td>Headers</td>
            <td>Shot</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>gogame79</td>
            <td>Headers</td>
            <td>Shot</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
      style="color: white"
    >
      <table
        style="text-align: center"
        class="table table-bordered mt-5 table-responsive-sm"
      >
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Team Name</th>
            <th scope="col">matches</th>
            <th scope="col">wins</th>
            <th scope="col">losses</th>
            <th scope="col">kills</th>
            <th scope="col">rank</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Hunt</td>
            <td>30</td>
            <td>20</td>
            <td>10</td>
            <td>97</td>
            <td>9</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Headers</td>
            <td>60</td>
            <td>30</td>
            <td>30</td>
            <td>187</td>
            <td>12</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
