.card {
  border-radius: 0%;
  background-color: #170d2a;
}
.circle {
  background-color: grey;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding-top: 8px;
  margin-left: 60px;
}
.banner {
  background-image: url("../../assets/Backimg.png");
  height: 160px;
}
@media screen and (max-width: 360px) {
  .circle {
    background-color: grey;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding-top: 8px;
    margin-left: 95px;
  }
  .banner {
    background-image: url("../../assets/Backimg.png");
    height: 220px;
  }
  h5,
  p {
    text-align: center;
  }
}
.pencil {
  float: right;
}
