<ul
  class="nav nav-tabs sticky-top"
  style="z-index: 10; background-color: #16032a"
  id="myTab"
  role="tablist"
>
  <li class="nav-item">
    <a
      class="nav-link active"
      id="about-tab"
      data-toggle="tab"
      href="#about"
      role="tab"
      aria-controls="about"
      aria-selected="true"
      >About</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="schedule-tab"
      data-toggle="tab"
      href="#schedule"
      role="tab"
      aria-controls="schedule"
      aria-selected="false"
      >Schedule</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="giveaway-tab"
      data-toggle="tab"
      href="#giveaway"
      role="tab"
      aria-controls="giveaway"
      aria-selected="false"
      >Giveaway</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="media-tab"
      data-toggle="tab"
      href="#media"
      role="tab"
      aria-controls="media"
      aria-selected="false"
      >Media</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="chat-tab"
      data-toggle="tab"
      href="#chat"
      role="tab"
      aria-controls="chat"
      aria-selected="false"
      >Chat</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="faq-tab"
      data-toggle="tab"
      href="#faq"
      role="tab"
      aria-controls="faq"
      aria-selected="false"
      >FAQ</a
    >
  </li>
  <!-- <div class="animated"></div> -->
</ul>

<div class="tab-content" id="myTabContent" style="color: white">
  <div
    class="tab-pane fade show active"
    id="about"
    role="tabpanel"
    aria-labelledby="about-tab"
  >
    About Tab
  </div>
  <div
    class="tab-pane fade"
    id="schedule"
    role="tabpanel"
    aria-labelledby="schedule-tab"
  >
    Schedule Tab
  </div>
  <div
    class="tab-pane fade"
    id="giveaway"
    role="tabpanel"
    aria-labelledby="giveaway-tab"
  >
    Giveaway Tab
  </div>
  <div
    class="tab-pane fade"
    id="media"
    role="tabpanel"
    aria-labelledby="media-tab"
  >
    Media Tab
  </div>
  <div
    class="tab-pane fade"
    id="chat"
    role="tabpanel"
    aria-labelledby="chat-tab"
  >
    Chat Tab
  </div>
  <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
    Faq Tab
  </div>
</div>
