<!-- <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>         </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
</div> -->

<!-- <div class="container">
  <div class="full">
    <ul>
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">HOME</a>
      </li>
    </ul>
  </div>
  <div class="animation start-home"></div> -->
<!-- <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          Home
        </div>
        <div
          class="tab-pane "
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          Bloag
        </div>
        <div
          class="tab-pane "
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          agd
        </div>
        <div
          class="tab-pane "
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          Bloag
        </div>
        <div
          class="tab-pane"
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          agd
        </div> -->
<!-- </div> -->
<!-- 
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#home"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#contact"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#contact"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <div class="animation start-home"></div>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      Home
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      Bloag
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      agd
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      Bloag
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      agd
    </div>
  </div>
</div> -->

<!-- <div class="container">
    <nav class="nav nav-tabs" id="myTab" role="tablist">
        <a href="#home">Home</a>
  <a href="#profile">About</a>
  <a href="#contact">Blog</a>
  <a href="#contact">Portfolio</a>
  <a href="#contact">Contact</a>
  <div class="animation start-home"></div>
    </nav>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
</div>







 -->
<!-- <nav id="myTab" role="tablist">
  <a
    class="active"
    id="home-tab"
    href="#home"
    data-toggle="tab"
    role="tab"
    aria-controls="home"
    aria-selected="true"
    >Home</a
  >
  <a
    class=""
    id="about-tab"
    href="#about"
    data-toggle="tab"
    role="tab"
    aria-controls="about"
    aria-selected="false"
    >About</a
  >
  <a id="blog-tab" href="#blog">Blog</a>
  <a id="portfolio-tab" href="#porfolio">Portfolio</a>
  <a id="contact-tab" href="#contact">Contact</a>
  <div class="animation start-home"></div>
</nav>
<div class="tab-content" id="myTabContent">
  <div
    class="show active tab-pane fade"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    Home
  </div>
  <div
    class="tab-pane fade"
    id="about"
    role="tabpanel"
    aria-labelledby="about-tab"
  >
    About
  </div>
  <div id="blog">Blog</div>
  <div id="portfolio">Portfolio</div>
  <div id="contact">Contact</div>
</div> -->
<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      id="home-tab"
      data-toggle="tab"
      href="#home"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="profile-tab"
      data-toggle="tab"
      href="#profile"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
      >Profile</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="contact-tab"
      data-toggle="tab"
      href="#contact"
      role="tab"
      aria-controls="contact"
      aria-selected="false"
      >Contact</a
    >
  </li>
  <div class="animation start-home"></div>
</ul>

<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    Mongo
  </div>
  <div
    class="tab-pane fade"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    Piyush
  </div>
  <div
    class="tab-pane fade"
    id="contact"
    role="tabpanel"
    aria-labelledby="contact-tab"
  >
    Moncaa
  </div>
</div> -->
<!-- <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>         </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
</div> -->

<!-- <div class="container">
  <div class="full">
    <ul>
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">HOME</a>
      </li>
    </ul>
  </div>
  <div class="animation start-home"></div> -->
<!-- <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          Home
        </div>
        <div
          class="tab-pane "
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          Bloag
        </div>
        <div
          class="tab-pane "
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          agd
        </div>
        <div
          class="tab-pane "
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          Bloag
        </div>
        <div
          class="tab-pane"
          id="contact"
          role="tabpanel"
          aria-labelledby="contact-tab"
        >
          agd
        </div> -->
<!-- </div> -->
<!-- 
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#home"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#contact"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#contact"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <div class="animation start-home"></div>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      Home
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      Bloag
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      agd
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      Bloag
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      agd
    </div>
  </div>
</div> -->

<!-- <div class="container">
    <nav class="nav nav-tabs" id="myTab" role="tablist">
        <a href="#home">Home</a>
  <a href="#profile">About</a>
  <a href="#contact">Blog</a>
  <a href="#contact">Portfolio</a>
  <a href="#contact">Contact</a>
  <div class="animation start-home"></div>
    </nav>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
</div>







 -->
<!-- <nav id="myTab" role="tablist">
  <a
    class="active"
    id="home-tab"
    href="#home"
    data-toggle="tab"
    role="tab"
    aria-controls="home"
    aria-selected="true"
    >Home</a
  >
  <a
    class=""
    id="about-tab"
    href="#about"
    data-toggle="tab"
    role="tab"
    aria-controls="about"
    aria-selected="false"
    >About</a
  >
  <a id="blog-tab" href="#blog">Blog</a>
  <a id="portfolio-tab" href="#porfolio">Portfolio</a>
  <a id="contact-tab" href="#contact">Contact</a>
  <div class="animation start-home"></div>
</nav>
<div class="tab-content" id="myTabContent">
  <div
    class="show active tab-pane fade"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    Home
  </div>
  <div
    class="tab-pane fade"
    id="about"
    role="tabpanel"
    aria-labelledby="about-tab"
  >
    About
  </div>
  <div id="blog">Blog</div>
  <div id="portfolio">Portfolio</div>
  <div id="contact">Contact</div>
</div> -->

<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="about-tab"
        data-toggle="tab"
        href="#about"
        role="tab"
        aria-controls="about"
        aria-selected="true"
        >About</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="schedule-tab"
        data-toggle="tab"
        href="#schedule"
        role="tab"
        aria-controls="schedule"
        aria-selected="false"
        >Schedule</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="giveaway-tab"
        data-toggle="tab"
        href="#giveaway"
        role="tab"
        aria-controls="giveaway"
        aria-selected="false"
        >Giveaway</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="media-tab"
        data-toggle="tab"
        href="#media"
        role="tab"
        aria-controls="media"
        aria-selected="false"
        >Media</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="chat-tab"
        data-toggle="tab"
        href="#chat"
        role="tab"
        aria-controls="chat"
        aria-selected="false"
        >Chat</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="faq-tab"
        data-toggle="tab"
        href="#faq"
        role="tab"
        aria-controls="faq"
        aria-selected="false"
        >FAQ</a
      >
    </li>
    <!-- <div class="animated"></div> -->
  </ul>

  <div class="tab-content" id="myTabContent" style="color: white">
    <div
      class="tab-pane fade show active"
      id="about"
      role="tabpanel"
      aria-labelledby="about-tab"
    >
      About Tab
    </div>
    <div
      class="tab-pane fade"
      id="schedule"
      role="tabpanel"
      aria-labelledby="schedule-tab"
    >
      Schedule Tab
    </div>
    <div
      class="tab-pane fade"
      id="giveaway"
      role="tabpanel"
      aria-labelledby="giveaway-tab"
    >
      Giveaway Tab
    </div>
    <div
      class="tab-pane fade"
      id="media"
      role="tabpanel"
      aria-labelledby="media-tab"
    >
      Media Tab
    </div>
    <div
      class="tab-pane fade"
      id="chat"
      role="tabpanel"
      aria-labelledby="chat-tab"
    >
      Chat Tab
    </div>
    <div
      class="tab-pane fade"
      id="faq"
      role="tabpanel"
      aria-labelledby="faq-tab"
    >
      Faq Tab
    </div>
  </div>
</div>
