/* nav {
  position: relative;
  margin: 270px auto 0;
  width: 590px;
  height: 50px;
  background: #34495e;
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

li .animation {
  position: absolute;
  height: 100%;
  /* height: 5px; */
/* top: 0; */
/* bottom: 0; */
/*z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}
li a:nth-child(1) {
  width: 100px;
}
li .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}
nav a:nth-child(2) {
  width: 110px;
}
nav a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
}
nav a:nth-child(3) {
  width: 100px;
}
nav a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
}
nav a:nth-child(4) {
  width: 160px;
}
nav a:nth-child(4):hover ~ .animation {
  width: 160px;
  left: 310px;
}
nav a:nth-child(5) {
  width: 120px;
}
nav a:nth-child(5):hover ~ .animation {
  width: 120px;
  left: 470px;
}
.nav-link.active {
  background-color: #16032a;
  border: none;
}
.nav-tabs {
  border-bottom: none;
}
li :hover {
  border: none;
}
li :active {
  border-bottom: 2px solid white;
} */
/* nav {
  position: relative;
  margin: 270px auto 0;
  width: 590px;
  height: 50px;
  background: #34495e;
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
} */

/* li .animation {
  position: absolute;
  height: 100%; */
/* height: 5px; */
/* top: 0; */
/* bottom: 0; */
/* z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
} */
/* li a:nth-child(1) {
  width: 100px;
}
li .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}
nav a:nth-child(2) {
  width: 110px;
}
nav a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
}
nav a:nth-child(3) {
  width: 100px;
}
nav a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
}
nav a:nth-child(4) {
  width: 160px;
}
nav a:nth-child(4):hover ~ .animation {
  width: 160px;
  left: 310px;
}
nav a:nth-child(5) {
  width: 120px;
}
nav a:nth-child(5):hover ~ .animation {
  width: 120px;
  left: 470px;
} */
a {
  text-decoration: none;
  color: white;
}
.nav-link.active {
  /* background-color: transparent; */
  border-bottom: 2px solid yellow;
  padding-bottom: 6px;
  top: 0;
  /* transition: all 0.15s ease 0s;
  z-index: 0; */
}
/* .nav-tabs {
  border-bottom: none;
} */
li :hover {
  border: none;
}
/* li {
  border-bottom: 2px solid white;
} */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  margin-bottom: -2px;
  border-bottom: 2px solid yellow;
  color: white;
}
.nav-tabs .nav-link {
  border: transparent;
  transition: all 0.1s;
}
ul {
  padding-left: 40px;
  border-bottom: 1px solid white;
}
/* .h1 {
  transition: all 0.15s;
} */
li,
a:nth-child(1):hover ~ .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  width: 80px;
  left: 0;
}
li a:nth-child(2) {
  width: 80px;
}
li a:nth-child(2):hover ~ .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  width: 80px;
  left: 100px;
}
li a:nth-child(3) {
  width: 80px;
}
li a:nth-child(3):hover ~ .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  width: 80px;
  left: 210px;
}
li a:nth-child(4) {
  width: 80px;
}
li a:nth-child(4):hover ~ .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  width: 80px;
  left: 210px;
}
li a:nth-child(5) {
  width: 80px;
}
li a:nth-child(5):hover ~ .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  width: 80px;
  left: 210px;
}
li a:nth-child(6) {
  width: 80px;
}
li a:nth-child(6):hover ~ .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  width: 80px;
  left: 210px;
}
