.header-username {
  font-size: 16px;
  font-weight: 500;
  font-family: "RajdhaniBold";
  margin-top: -7px;
}
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.dropdown-menu > li > a:hover {
  background-color: transparent;
  background-image: none;
}
.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu {
  background-color: #16032a;
  color: #fff;
  font-weight: bold;
}

.dropdown-menu .sub-menu {
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: 35px;
  margin-left: -160px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
li:hover {
  background-color: transparent;
  color: #ba32ff;
}
a:active {
  background-color: transparent;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid transparent;
  border-top: 7px solid transparent;
  right: -7px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
