<div class="ml-5 mb-5 mt-2">
  <button
    [routerLink]="['/homepage22']"
    type="button"
    class="shape mr-4"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Overview
  </button>
  <button
    [routerLink]="['/homepage25']"
    type="button"
    class="shape"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Rules and Terms
  </button>
</div>

<div class="ml-1 mr-1">
  <div class="row boxdesign marginset">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <form>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Game and Region :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Check-in Period :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Team Size :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Touranment Start date :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Admin Name :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-5">
      <form>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Admin Contact :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Admin Email :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Entry Fee :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Prize Pool :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Tournament Format :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-5 boxdesign marginsetleft mt-5">
      <h3 style="font-weight: bold">Prizes:</h3>
      <form>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >1st Prize :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >2nd Prize :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >3rd Prize :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 boxdesign marginsetright mt-5">
      <!-- <div class="boxdesign pl-3 ml-5"> -->
      <h3 style="font-weight: bold">Featured Videos:</h3>
      <form>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Featured Video Link :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Featured Video Title :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
      </form>
      <!-- </div> -->
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-5 boxdesign marginsetleft mt-5">
      <h3 style="font-weight: bold">
        Sponsers
        <span style="font-weight: normal; font-size: 19px"
          >(Add Sponsers):</span
        >
      </h3>
      <form>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Sponsor Name :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Sponser Logo :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 boxdesign marginsetright mt-5">
      <h3 style="font-weight: bold">Featured Articles:</h3>
      <form>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Featured Article Link :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6 col-sm-5 labelsize col-form-label"
            >Featured Article Title :
          </label>
          <div class="col-6">
            <input
              type="text"
              class="form-control inputshape"
              placeholder="Type here"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div style="text-align: right">
    <button class="buttonshape mt-5 mb-3 mr-3">SUBMIT</button>
  </div>
</div>
