<nav class="navbar justify-content-between">
  <img src="../../assets/GoGameLive.png" alt="GoGameLive" />
  <div class="my-2 my-lg-0">
    <p class="float-left mr-2 mt-3">
      <a style="text-decoration: none" href="https://www.gogame.live/"
        >GO TO GOGAME.LIVE</a
      >
    </p>
    <!-- <button
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      <i class="fa fa-briefcase ico"></i> POST A FREE JOB
    </button> -->
  </div>
</nav>
<img class="img-fluid imag" src="../../assets/Screenshot (2127).png" alt="" />
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#home"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        (click)="onAllJob()"
        >ALL JOBS</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="profile-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
        (click)="onFullTimeJob()"
        >FULL TIME</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="contact-tab"
        data-toggle="tab"
        href="#contact"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
        (click)="onPartTimeJob()"
        >PART TIME</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="contact-tab"
        data-toggle="tab"
        href="#freelance"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
        (click)="onFreelanceJob()"
        >FREELANCE</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <div
        style="margin-top: 10px"
        *ngFor="let employee of employees_temp.employee"
      >
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-1 col-12 col-sm-1">
                <div class="row">
                  <img
                    class="img-fluid mb-4 pl-1"
                    src="../../assets/download.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <p class="infosys">
                    {{ employee.company }}-{{ employee.job_role }}
                  </p>
                </div>
                <div class="row">
                  <p class="year">
                    {{ employee.start_date }}
                  </p>
                </div>
              </div>

              <div class="col-lg-2">
                <p class="time">
                  <i class="fa fa-briefcase ico"></i>{{ employee.job_type }}
                </p>
              </div>
              <div class="col-lg-2">
                <p class="hyd">
                  <i class="fa fa-map-marker ico"></i
                  >{{ employee.job_location }}
                </p>
              </div>
              <div class="col-lg-2">
                <p class="experience">
                  <i class="fas fa-clock ico"></i>{{ employee.experience }}
                </p>
              </div>
              <div
                class="col-lg-2 col-sm-2 see-details"
                data-toggle="modal"
                data-target="#exampleModal2"
                (click)="onSeeDetail(employee.id)"
              >
                <a> SEE DETAILS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      <div
        style="margin-top: 10px"
        *ngFor="let employee of employees_temp.employee"
      >
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-1 col-12 col-sm-1">
                <div class="row">
                  <img
                    class="img-fluid mb-4 pl-1"
                    src="../../assets/download.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <p class="infosys">
                    {{ employee.company }}-{{ employee.job_role }}
                  </p>
                </div>
                <div class="row">
                  <p class="year">
                    {{ employee.start_date }}
                  </p>
                </div>
              </div>

              <div class="col-lg-2">
                <p class="time">
                  <i class="fa fa-briefcase ico"></i>{{ employee.job_type }}
                </p>
              </div>
              <div class="col-lg-2">
                <p class="hyd">
                  <i class="fa fa-map-marker ico"></i
                  >{{ employee.job_location }}
                </p>
              </div>
              <div class="col-lg-2">
                <p class="experience">
                  <i class="fas fa-clock ico"></i>{{ employee.experience }}
                </p>
              </div>
              <div
                class="col-lg-2 col-sm-2 see-details"
                data-toggle="modal"
                data-target="#exampleModal2"
              >
                <a (click)="onSeeDetail(employee.id)"> SEE DETAILS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      <div
        style="margin-top: 10px"
        *ngFor="let employee of employees_temp.employee"
      >
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-1 col-12 col-sm-1">
                <div class="row">
                  <img
                    class="img-fluid mb-4 pl-1"
                    src="../../assets/download.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <p class="infosys">
                    {{ employee.company }}-{{ employee.job_role }}
                  </p>
                </div>
                <div class="row">
                  <p class="year">
                    {{ employee.start_date }}
                  </p>
                </div>
              </div>

              <div class="col-lg-2">
                <p class="time">
                  <i class="fa fa-briefcase ico"></i>{{ employee.job_type }}
                </p>
              </div>
              <div class="col-lg-2">
                <p class="hyd">
                  <i class="fa fa-map-marker ico"></i
                  >{{ employee.job_location }}
                </p>
              </div>
              <div class="col-lg-2">
                <p class="experience">
                  <i class="fas fa-clock ico"></i>{{ employee.experience }}
                </p>
              </div>
              <div
                class="col-lg-2 col-sm-2 see-details"
                data-toggle="modal"
                data-target="#exampleModal2"
              >
                <a (click)="onSeeDetail(employee.id)"> SEE DETAILS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="freelance"
      role="tabpanel"
      aria-labelledby="freelance-tab"
    >
      <div
        style="margin-top: 10px"
        *ngFor="let employee of employees_temp.employee"
      >
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-1 col-12 col-sm-1">
                <div class="row">
                  <img
                    class="img-fluid mb-4 pl-1"
                    src="../../assets/download.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <p class="infosys">
                    {{ employee.company }}-{{ employee.job_role }}
                  </p>
                </div>
                <div class="row">
                  <p class="year">
                    {{ employee.start_date }}
                  </p>
                </div>
              </div>

              <div class="col-lg-2">
                <p class="time">
                  <i class="fa fa-briefcase ico"></i>{{ employee.job_type }}
                </p>
              </div>
              <div class="col-lg-2">
                <p class="hyd">
                  <i class="fa fa-map-marker ico"></i
                  >{{ employee.job_location }}
                </p>
              </div>
              <div class="col-lg-2">
                <p class="experience">
                  <i class="fas fa-clock ico"></i>{{ employee.experience }}
                </p>
              </div>
              <div
                class="col-lg-2 col-sm-2 see-details"
                data-toggle="modal"
                data-target="#exampleModal2"
                (click)="onSeeDetail(employee.id)"
              >
                <a> SEE DETAILS</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="onClickPrevious()">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onContentChange(1)">1</a>
          </li>
          <li class="page-item">
            <a (click)="onContentChange(2)" class="page-link">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onContentChange(3)">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onClickNext()">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-one">
      <div class="modal-header" style="border-bottom: none">
        <button
          type="button"
          class="close close-btn"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="sp" aria-hidden="true">&times;</span>
        </button>
      </div>
      <h1 class="job">POST A FREE JOB</h1>

      <div class="modal-body">
        <div class="row mt-4">
          <div class="col-lg-12">
            <h5 class="heading">Contact Details</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-6 p-right">
            <div class="form-group">
              <label>Contact Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Contact Name"
              />
            </div>
          </div>
          <div class="col-lg-6 p-left">
            <div class="form-group">
              <label>Contact Number</label>
              <input
                type="number"
                class="form-control"
                placeholder="Contact Number"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 p-right">
            <div class="form-group">
              <label>Contact Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Contact Email"
              />
            </div>
          </div>
          <div class="col-lg-6"></div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h5 class="heading">Job Details</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-6 p-right">
            <div class="form-group">
              <label>Company Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Company Name"
              />
            </div>
          </div>
          <div class="col-lg-6 p-left">
            <div class="form-group">
              <label class="float-left">Company Logo</label>
              <p class="float-right upload-label-left">
                Non-transparent jpg, png, bmp
              </p>
              <div class="custom-file">
                <input type="file" class="custom-file-input" />
                <label class="custom-file-label">UPLOAD</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 p-right">
            <label>Job Role</label>
            <input
              type="text"
              class="form-control"
              placeholder="Job Location"
            />
          </div>
          <div class="col-lg-6 p-left">
            <div class="form-group">
              <label>Job Location</label>
              <input
                type="text"
                class="form-control"
                placeholder="Job Location"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 p-right">
            <div class="form-group">
              <label>Experience Level</label>
              <input
                type="text"
                class="form-control"
                placeholder="Experience Level"
              />
            </div>
          </div>
          <div class="col-lg-6 p-left">
            <div class="form-group">
              <label>Job Type</label>
              <br />
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary mr-2">
                  <input
                    type="radio"
                    name="options"
                    id="option1"
                    autocomplete="off"
                  />
                  Part-time
                </label>
                <label class="btn btn-secondary mr-2 active">
                  <input
                    type="radio"
                    name="options"
                    id="option2"
                    autocomplete="off"
                    checked
                  />
                  Full-time
                </label>
                <label class="btn btn-secondary">
                  <input
                    type="radio"
                    name="options"
                    id="option3"
                    autocomplete="off"
                  />
                  Freelance
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12">
            <div class="form-group">
              <label>Role Description</label>
              <textarea
                class="form-control"
                placeholder="Explain the Role and Responsibilities..."
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <button
            class="btn btn-custom-primary ml-3 appl"
            data-toggle="modal"
            data-target="#exampleModal1"
            data-dismiss="modal"
            data-toggle="modal"
          >
            SUBMIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-one">
      <div class="modal-header" style="border-bottom: none">
        <button
          type="button"
          class="close close-btn"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span class="sp" aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body custom-padding-modal">
        <div class="text-center">
          <p class="successful-message">Submitted Successfully</p>
          <img
            class="img-fluid img-tick mt-4 mb-4"
            src="../../assets/img-green-tick.png"
            alt="tickimage"
          />
          <p class="text-below-image-tick">
            Thank you for your job posting. Our Admin would verify the
            information and post it on the website job list shortly
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngFor="let employee of employees_temp.employee"
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-one">
      <div class="mod">
        <div class="row">
          <div class="col-lg-11"></div>
          <div class="col-lg-1">
            <button
              type="button"
              class="close close-btn"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span class="sp" aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <img
              class="img-fluid image-see-details"
              src="../../assets/download.png"
              alt=""
            />
          </div>
          <div class="col-lg-3 ml-2">
            <div class="row" *ngIf="employees.employee[index_Id - 1]">
              <p class="infosy">
                {{ employees.employee[index_Id - 1].company }}
              </p>
            </div>
            <div class="row" *ngIf="employees.employee[index_Id - 1]">
              <p class="ye">{{ employees.employee[index_Id - 1].job_role }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body" *ngIf="employees.employee[index_Id - 1]">
        <div class="row mt-5">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-3">
                <p>
                  <i class="fa fa-briefcase ico"></i
                  >{{ employees.employee[index_Id - 1].job_type }}
                </p>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-3">
                <p>
                  <i class="fa fa-briefcase ico"></i
                  >{{ employees.employee[index_Id - 1].job_location }}
                </p>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-3">
                <p>
                  <i class="fa fa-briefcase ico"></i
                  >{{ employees.employee[index_Id - 1].experience }}
                </p>
              </div>
            </div>
            <hr style="background-color: white" />
            <div class="row">
              <div class="col-lg-12">
                <h6 style="font-weight: bold">Job Description</h6>
                <p style="text-align: justify; justify-content: inter-word">
                  {{ employees.employee[index_Id - 1].job_description }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 sto">
            <p style="font-size: small">Share this opportunity</p>
            <i class="fab fa-instagram mr-3"></i>
            <i class="fab fa-facebook mr-3"></i>
            <i class="fab fa-twitter"></i>
            <button
              class="btn btn-custom-primary mt-3 appl"
              data-dismiss="modal"
            >
              APPLY NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
